.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
}

.home__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 99%;
    background-color: #EEDEC5;
    border: 1px solid black;
    border-radius: 2rem;
}

.hl__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1rem;
}

.hl__container span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--nav-overlay-color);
    text-transform: lowercase;
    border: 1px solid var(--text-color);
    border-radius: 2rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Chillax-Light';

}

.hl__container h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #573935;
    text-transform: capitalize;
    font-family: 'Chillax-Bold';
    padding-bottom: 1rem;
    letter-spacing: 0.15rem;
}

.hl__container img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
}

.hl__container-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    position: relative;
    bottom: 0rem;
    padding-top: 1rem;
    border-top: 1px solid #000;
}

.hl__container-lower p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--nav-overlay-color);
    text-transform: capitalize;
    font-family: 'Chillax-Regular';
    letter-spacing: 0.1rem;
}

.arrow {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 99%;
    border: 1px solid black;
    border-radius: 2rem;
}

.hr__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    gap: 0.5rem;
}

.hr__upper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color:  #7C7C64;
    border-radius: 2rem;
    padding: 2.25rem 2rem;
}

.hr__upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.hr__upper-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.hr__upper-left span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
    text-transform: lowercase;
    border: 1px solid var(--title-color);
    border-radius: 2rem;
    padding: 0 1rem;
    font-family: 'Chillax-Light';
    letter-spacing: 0.15rem;
}

.hr__upper-left h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Chillax-Bold';
    letter-spacing: 0.15rem;
}

.hr__upper-left p {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--title-color);
    text-transform: capitalize;
    font-family: 'Chillax-Light';
    letter-spacing: 0.1rem;
}

.hr__upper-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    padding-bottom: 1rem;
}

.hr__upper-right img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: 50% 30%;
}

.get_started {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-top: 1px solid var(--title-color);
    padding-top: 0.7rem;
    position: relative;
    bottom: 1rem;
}

.get_started p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
    text-transform: capitalize;
    font-family: 'Chillax-Light';
    letter-spacing: 0.1rem;
}

.arrow-right {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--title-color);
}

.hr__lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 46vh;
    border-radius: 2rem;
    gap: 0.5rem;
}

.hr__lower-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: #965a4f;
    border-radius: 2rem;
    padding: 1rem;
}

.hr__lower-left img {
    width: 100%;
    height: 50%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: 50% 25%;
}

.hr__lower-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
}

.hr__lower-title h1 {
    font-size:2rem;
    font-weight: 600;
    color: var(--title-color);
    text-transform: capitalize;
    font-family: 'Chillax-Bold';
    letter-spacing: 0.2rem;
}

.hr__lower-left span {
    font-size: 0.78rem;
    font-weight: 600;
    color: var(--title-color);
    text-transform: capitalize;
    font-family: 'Chillax-Light';
    letter-spacing: 0.1rem;
    padding: 0 1rem;
}

.dots {
    width: 3rem;
    height: 3rem;
    color: var(--accent-color);
}

.get_started-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-top: 1px solid var(--title-color);
    position: relative;
    bottom: -0.6em;
    padding: 1rem;
    padding-top: 0.5rem;
}

.get_started-lower p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
    text-transform: capitalize;
    font-family: 'Chillax-Light';
    letter-spacing: 0.1rem;
}

.hr__lower-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: #bc9f81;
    border-radius: 2rem;
    padding: 1rem;
}

.hr__lower-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.hr__lower-right-container span {
    font-size: 0.78rem;
    font-weight: 600;
    color: var(--accent-color);
    text-transform: capitalize;
    font-family: 'Chillax-Light';
    letter-spacing: 0.1rem;
    padding: 0 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 1rem;
}

.hr__lower-right-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-color);
    text-transform: capitalize;
    font-family: 'Chillax-Bold';
    letter-spacing: 0.15rem;
}

.hr-right-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    align-items: center;
}

.hr__lower-right img {
    width: 100%;
    height: 80%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: 50% 25%;
}

.get_started-lower-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-top: 1px solid var(--accent-color);
    position: relative;
    bottom: -0.6em;
    padding: 1rem;
    padding-top: 0.5rem;
}

.arrow-right-lower {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--accent-color);
}

@media (max-width: 455px) {
    .home  {
        min-height: 270vh;
    }
    .home__container {
        flex-direction: column;
    }
    .home__left {
        width: 100%;
    }
    .home__right  {
        width: 100%;
    }
    .hr__upper {
        flex-direction: column;
        height: 50%;
    }
    .hr__upper-container {
        flex-direction: column;
    }
    .hr__lower  {
        flex-direction: column;
        height: 100%;
    }
    .hr__lower-left {
        width: 100%;
    }
    .hr__lower-right {
        width: 100%;
    }
}