.nav {
    position: relative;
    top: 0.4rem;
    left: 0.4rem;
    width: 99%;
    height: 4rem;
    z-index: 1000;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    border-radius: 1.9rem;
}

.svg {
    display: none;
}


.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0.2rem 0.2rem;
    position: relative;
    width: 100%;
    z-index: 999999;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2rem;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--accent-color);
    stroke-width: 2.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.nav__left {
    display: flex;
    align-items: center;
    border-radius: 1.9rem;

    height: 100%;
    padding-right: 1rem;
    width: 100%;
    justify-content: flex-start;
}

.nav__logo {
    background-color: #585944;
    border-radius: 1.9rem;
    padding: 0.2rem 0.2rem;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.2rem;
}

.nav__logo h1 {
    font-family: 'Chillax-Bold', cursive;
    font-size: 2rem;
    color: var(--title-color);
    letter-spacing: 0.3rem;
    text-transform: uppercase;

}

.nav__middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 999999;
    width: 100%;
}

.nav__middle ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
    position: relative;
    left: 0rem;
    width: 100%;
}

.nav__middle ul li {
    list-style: none;
    font-family: 'Chillax-Semibold';
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--title-color);
    border-radius: 1.9rem;
    padding: 0.6rem 1rem;
    height: 100%;
}
.nav__right ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
    position: relative;
    left: 0rem;
    width: 100%;
}

.nav__right ul li {
    list-style: none;
    font-family: 'Chillax-Semibold';
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--title-color);
    border-radius: 1.9rem;
    padding: 0.6rem 2rem;
    height: 100%;
}

.nav__middle ul li:hover {
    background-color: #585944;
    color: var(--title-color);
    border: 1px solid #585944;;
}


.nav__middle ul li a {
    text-decoration: none;
    color: var(--title-color);
}
.nav__right ul li a {
    text-decoration: none;
    color: var(--title-color);
}

.hotel__circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0rem;
}

.restaurant__circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #45B5AA;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0rem;
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.nav__right {
    display: flex;
    align-items: center;
}

.nav__right h1 {
    font-family: 'Chillax-Bold';
    font-size: 1.3rem;
    margin-right: 1rem;
    color: var(--accent-color);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
