.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 4rem;
        text-transform: uppercase;
        margin: 0;
        color: var(--title-color);
        font-family: 'Chillax-Bold';
        letter-spacing: 0.1rem;
    }

    p {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-family: 'Chillax-Semibold';
        margin: 0;
        color: var(--title-color);
    }
    a {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-family: 'Chillax-Medium';
        margin: 0;
        color: var(--accent-color);
    }
}